@import "tailwindcss";

:root{
  box-sizing: border-box;
  --font-poppins:var(--font-poppins);
  --font-inter : var(--font-inter)
}
body{
  min-height: 100vh;
  min-width: 100vw;
  background-color: black;
}
.f-pop {
  font-family: var(--font-poppins);
}
.f-inter {
  font-family: var(--font-inter);
}